header {
    background-image: url(../img/header-bg.jpg);
    background-color: #738FD7;
    background-blend-mode: multiply;
    height: 95vh;
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-size: cover; */
    background-position: 0% 0%;
    background-size: 100% 100%;
    padding: 20px 10px 0 30px;
}

body {
    margin: 0;
}

li {
    display: inline;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 10px;
}

ul, button {
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}