.createTodoSection{
    position: absolute;
    top: 100px;
    width: 60px;
    left: 20%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding: 5px;
}

.createTodoInput{
    width: 100%;
    border: none;
}