.bg{
    background-image: url(./asset/image/background.jpg);
    /* filter: brightness(65%); */
    padding: 40px;
    height: 80vh;
    width: 170vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;   
    background-image: linear-gradient(rgba(236, 232, 232, 0.607), rgba(51, 48, 48, 0.081)), url("/asset/image/background.jpg")
}

.top-banner{
    background-position: top;
    
}
.img{
    background-image: url(/asset/image/tyler-nix-3SbuiAt8mO0-unsplash.jpg);
    padding: 40px;
    height: 80vh;
    width: 175vw;
    background-size: cover;
    /* background-attachment: fixed; */
}

.top-items{
    display: flex;
    justify-content: space-between;
}

a.hover{
    padding: 2px 0;
    border-bottom: 2px solid rgba(250, 244, 244, 0.348);
}

body{
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font: size 45px;
    color:black;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

li,a{
    display: inline;
    margin: 10px;
    /* font-weight: bold; */
    font-size: 26px;
    text-decoration: none;
    font-family: 'Montserrat';
    color:#2E6171;
}

ul, button {
    display: inline;
}

.icon{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:white;
    font-size: 30px;
}


.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    background: #2E6171;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }



.header-text{
    text-align: center;
    color: #2E6171;
    padding: 120px 0 30px 0;
    width: 50%;
    margin: auto;

}

.header-text p{
    font-size: 18px;
    color: #F87060;
    font-weight: bold;

}

.about-section{
    /* background-image:url(./asset/image/hanna-balan-YasQvzPbGOQ-unsplash.jpg); */
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background-color:whitesmoke;
}

.about-text {
    padding: 20px;
    color: black;
    font-size: 16px;
}


.span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:#2E6171;
    font-size: 30px;
}


.about-text{
    min-height: 1px;
    padding: right 15px;
    color:black;

}

.about-text p {
    color:black;
    padding-top: 10px;
    /* padding-bottom: 5px; */
    font-size: 20px;

}

.about-text h3{
padding-top: 30px;
padding-bottom: 30px;
font-size: 30px;
color:black;
}

.new-item{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color:#ECCBD9;

}

.new-item-text {
    padding: 20px;
    color: #2E6171;
    font-size: 16px;
}


.new-item-text h2{
    padding: 20px;
    color: black;
    font-size: 30px;
}



.text p{
    padding: 14px 0;
    color: black;
    font-size: 15px;
}

img{
    width: 100%;
}


img{
    width: 70%;
}

.service-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 9px;
    grid-row-gap: 0px;
    }

.services{
    padding: 50px 120px;
    align-items: center;
    margin: auto;
    text-align: center;

    }

.service-card{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color:black;

}

.service-card img{
    width: 370px;
    height: 370px;
    border-radius: 15px;
}
.services h3{
    padding-top: 70px;
    padding-bottom: 100px;
    font-size: 30px;
}


.products h3{
    padding-top: 20px;
    padding-bottom: 70px;
    font-size: 30px;
}

.product-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
  
.products{
    padding: 50px 20px;
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: #EFF1F3;
}


.product-card img{
    width: 330px;
    height: 330px;
    border-radius: 15px;
}

.product-card h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 50px;
    color:#2E6171;
}



.team{
        padding: 50px 120px;
        align-items: center;
        margin: auto;
        text-align: center;
}

/* pop up
.container{
    width: 100%;
    height: 100vh;
    background: #2E6171;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.our-teams{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 21px;
grid-row-gap: 8px;
}


.team h3{
    padding-top: 20px;
    padding-bottom: 70px;
    font-size: 30px;
}

.team-card{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color:black;

}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  

}

.footer{
    padding: 50px 120px;
    align-items: center;
    margin: auto;
    background-color: #EFF1F3;
    text-align: center;
}

.footer-card h4{
    /* padding: 14px ; */
    color: black;
    font-size: 15px;
    padding-left: 140px;
    padding-right: 20px;
    text-align:justify;
}

.footer-card h3{
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 30px;
}

.footer-card h5{
    padding: 40px 10px;
    font-size: 5px;
    text-align:end;
}
/* .icon-size{
    /* width: 2px;
    height: 2px; */
    } */